:root {
  --primary: 183, 50, 37;
  --secondary: 0, 31, 63;
}

html, body, p, h1, h2 {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto';
  color: rgb(var(--secondary));
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(./background.png);
}

.container::before {
  content: '';
  background: linear-gradient(
    0, 
    rgba(var(--secondary),0.97) 25%, 
    rgba(var(--primary),0.99) 50%, 
    rgba(var(--secondary),0.97) 75%);
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.card {
  position: relative;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  margin: 32px;
  gap: 32px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 8px 8px 32px 0 rgba(0,0,0,0.5);
}

.photo {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 4px rgba(var(--primary),0.2);
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
}

h2 {
  font-size: 1.25rem;
  font-weight: 400;
}

.name {
  color: rgb(var(--primary));
}

.social-links{
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.social-link {
  width: 2rem;
  fill: rgb(var(--primary));
}
